body{
    height: 100vh;
    width: 100vw;

    margin: 0px;
    padding: 0px;
    background-color: rgb(14, 14, 14);

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    text-align: center;
}

img{
    width: 350px;
    height: auto;
    max-height: 500px;
    color: white;

    border-radius: 15px;
}

h1{
    margin: 0px;
    padding: 0px;

    color: white;

    font-size: 4vh;
}

p{
    margin: 0px;
    padding: 0px;
    color: white;
}

.img_sec{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.button_area{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.button{
    background-color: grey;
    border-radius: 5px;
    min-width: 2px;
    height: auto;
    border-style: none;
    animation-name: loading;
    animation-duration: .9s;
    animation-timing-function: linear;
}

@keyframes loading {
    0%{
        width: 3px;
    }
    50%{
        width: 2000x;
    }
    100%{
        width: 340px;
    }
}

.Send_to_discord{
    padding: 5px;
    background-color: white;
    color: black;

    width: 100px;

    margin: 20px 0px;

    animation-name: opacity;
    animation-duration: .7s;
    animation-delay: .5s;
    animation-timing-function: linear;
    visibility: hidden;
    animation-fill-mode: forwards;

    border-style: none;
    border-radius: 10px;
    background-color: rgb(77, 46, 255);
    color: white;
    font-weight: 800;
    transition: 200ms;
}

.Send_to_discord:hover{
    background-color: rgb(129, 106, 255);
    box-shadow: 6px 6px 0px rgb(0, 0, 0);
    transition: 200ms;
}

@keyframes opacity {
    0%{
        opacity: 0;
        visibility: visible;
    }
    50%{
        opacity: .5;
        visibility: visible;

    }
    100%{
        opacity: 1;
        visibility: visible;
    }
}

.button_holder{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-evenly;
}
