body{
    margin: 0px;
    padding: 0px;

    background-color: rgb(17, 17, 17);
}

img{
    width: 350px;
    height: auto;
    max-height: 500px;
    color: white;

    border-radius: 15px;
    animation-name: opacity;
    animation-duration: .5s;
    animation-delay: 1.4s;
    animation-fill-mode: forwards;
    visibility: hidden;
}

h1{
    margin: 0px;
    padding: 0px;

    color: white;

    font-size: 4vh;
}

p{
    margin: 0px;
    padding: 0px;
}

.img_sec{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.button_area{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.button{
    background-color: grey;
    border-radius: 5px;
    min-width: 2px;
    height: 8px;
    border-style: none;
    animation-name: loading;
    animation-duration: 1.1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    visibility: hidden;
}

@keyframes loading {
    0%{
        visibility: visible;
        width: 3px;
    }
    50%{
        width: 2000x;
    }
    100%{
        width: 340px;
        visibility: visible;
    }
}

.Send_to_discord{
    padding: 8px;
    background-color: white;
    color: black;

    width: 100px;

    margin: 20px 0px;

    animation-name: opacity;
    animation-duration: .7s;
    animation-delay: 1s;
    animation-timing-function: linear;
    visibility: hidden;
    animation-fill-mode: forwards;

    border-style: none;
    border-radius: 10px;
    background-color: rgb(77, 46, 255);
    color: white;
    font-weight: 800;
    transition: 200ms;
}

.Send_to_discord:hover{
    background-color: rgb(129, 106, 255);
    box-shadow: 6px 6px 0px rgb(0, 0, 0);
    transition: 200ms;
}

@keyframes opacity {
    0%{
        opacity: 0;
        visibility: visible;
    }
    50%{
        opacity: .5;
        visibility: visible;

    }
    100%{
        opacity: 1;
        visibility: visible;
    }
}

.button_holder{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-evenly;
    width:25%;
}

.daddy{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;

    width: 100%;
    height: 100%;

    margin: 40px 0px;
}

.navbar{
    width: auto;
    height: 30px;
    margin: 0px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.links{
    color: white;
    cursor: pointer;
    text-decoration: none;

    margin: 0px 20px;
}